
.cart-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .cart-btn {
    background: #ff3385;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }

  .quantity-control {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .quantity-btn {
    background: #ff3385;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
  }

  .cart-quantity {
    font-size: 16px;
    min-width: 20px;
  }
  .product-title {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .product-price {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    margin: 0px 0;
    font-weight: bold;
  }
  .product-priceOffer {
    color: #27ae60;
font-size: 12px;
margin: 0px 0;
font-weight: bold;
  }
.product-priceMRP {
color: rgba(0, 0, 0, 0.7);
font-size: 11px;
margin: 0px 0;
text-decoration-line: line-through;
padding-right: 5px;
 }
.mrpflex{
display: flex;
justify-content: center;
}

 .cos{
  display: flex;
  justify-content: space-around;
}
  .floating-cart {
    position: fixed;
    bottom: 60px;
    right: 40px;
    background: #ff3385;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    display: none;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    z-index: 1500;
  }

  .checkout-modal {
  display: none;
  position: fixed;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.checkout-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  text-align: left;
  position: relative;
  overflow-y: auto;
  padding-bottom: 50px;
}


.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.checkout-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.checkout-img {
  max-width: 100px;
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  border-radius: 10px;
}

.billing-section {

  background: #f9f9f9;
  border-radius: 5px;
}

.billing-section p {
  margin: 5px 0;
}
.prodList{
  margin-top: 95px;
}

/* Clear cart model */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  }
  
  .modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  }
  
  .btn-primary {
  background: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  }
  
  .btn-secondary {
  background: #ccc;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  }
  
  .btn-primary:hover {
  background: #d43f3f;
  }
  
  .btn-secondary:hover {
  background: #b3b3b3;
  }
  
  @keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
  }

  .product-title {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .product-price {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    margin: 0px 0;
    font-weight: bold;
  }
  .product-priceOffer {
    color: #ff3385;
font-size: 12px;
margin: 0px 0;
font-weight: bold;
  }
.product-priceMRP {
color: rgba(0, 0, 0, 0.7);
font-size: 11px;
margin: 0px 0;
text-decoration-line: line-through;
padding-right: 5px;
 }
.mrpflex{
display: flex;
}