.subheader {
    background: #fff;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    gap: 15px;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 998;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 15px;
    scrollbar-width: none;
    }
    
    .subheader::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
    }
    
    .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.3s ease;
    }
    
    .icon {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    }
    
    .category .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff3385;
    transition: transform 0.3s ease;
    }
    
    .category:hover .icon {
    transform: scale(1.3);
    border: 3px solid #ea7302;
    }
    
    .category span {
    margin-top: 10px;
    }
    
    .category-section {
        margin-bottom: 30px;
    }
    
    .category-title {
        font-size: 2rem;
        color: #ff3385;
        margin-bottom: 18px;
        text-shadow: 2px 2px 5px rgb(0 0 0);
    }